body {
	background: url("../images/twinpeakslodge.jpg");
	text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    align-content: center;
    color: white;
    padding: 100px;
    margin-top: 80px;
}

h2 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    align-content: center;
    color: rgb(116, 23, 23);
    padding-bottom: 50px;
}


label {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    align-content: center;
    color: rgb(116, 23, 23);
}


#container {
    background-color: white;
    padding: 50px;
    margin: 100px, 500px, 100px, 500px;
}





 
